body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0; }
  body .fadeIn {
    opacity: 0; }
  body header {
    background: #2E393D;
    color: #fff;
    display: flex;
    font-size: 2vw;
    font-weight: 300;
    height: 9vw;
    text-transform: uppercase; }
    body header .headerWrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 90%; }
      body header .headerWrapper .logoContainer {
        display: inline-flex;
        width: 23vw; }
      body header .headerWrapper menu {
        align-items: center;
        display: none;
        justify-content: center;
        margin: 3vw 0 0 0;
        padding: 0;
        width: 49vw; }
        body header .headerWrapper menu ul {
          display: flex;
          justify-content: space-evenly;
          list-style: none;
          padding: 0;
          width: 100%; }
          body header .headerWrapper menu ul li a {
            color: #fff;
            text-decoration: none;
            transition: .2s ease-in-out; }
            body header .headerWrapper menu ul li a:hover {
              color: #4E98E0;
              transition: .2s ease-in-out; }
      body header .headerWrapper .smallMenu {
        display: inline-block;
        font-size: 5vw;
        transition: .2s ease-in-out; }
        body header .headerWrapper .smallMenu:hover {
          color: #6CB6FF;
          cursor: pointer;
          transition: .2s ease-in-out; }
      body header .headerWrapper .side-nav {
        background: #2E393D;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 99999px;
        list-style: none;
        opacity: 1;
        overflow-x: hidden;
        padding-top: 50px;
        position: fixed;
        right: 0;
        top: 0;
        transition: 0.5s ease-in-out;
        width: 100%;
        z-index: 1; }
        body header .headerWrapper .side-nav .sideNavItems {
          width: 100%; }
          body header .headerWrapper .side-nav .sideNavItems .btn-close {
            cursor: pointer;
            font-size: 2.2em;
            margin: 0 0 0 80%;
            text-align: none;
            transition: .2s ease-in-out; }
            body header .headerWrapper .side-nav .sideNavItems .btn-close:hover {
              color: #6CB6FF;
              transition: .2s ease-in-out; }
          body header .headerWrapper .side-nav .sideNavItems li {
            padding: 6vw;
            font-size: 2.2em;
            color: #ccc;
            display: block;
            margin: 0 auto;
            transition: 0.3s ease-in-out;
            text-align: center;
            text-transform: capitalize; }
            body header .headerWrapper .side-nav .sideNavItems li a {
              color: #ccc;
              text-decoration: none;
              transition: 0.3s ease-in-out; }
              body header .headerWrapper .side-nav .sideNavItems li a:hover {
                border-bottom: none;
                color: #6CB6FF;
                padding: 5px 10px;
                transition: 0.3s ease-in-out; }
  body .intro {
    align-items: center;
    background: url("./images/introImgTwo.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    display: flex;
    padding: 13vw 0;
    width: 100%; }
    body .intro .introWrapper {
      width: 100%; }
      body .intro .introWrapper .introHeader {
        margin: 0 auto;
        text-align: center;
        width: 75%; }
        body .intro .introWrapper .introHeader .heading {
          font-size: 5.5vw;
          font-weight: bolder;
          letter-spacing: 3px;
          text-transform: uppercase; }
        body .intro .introWrapper .introHeader .subheading {
          font-size: 3vw;
          letter-spacing: 1px;
          padding-top: 1%;
          text-align: center; }
      body .intro .introWrapper .carouselContainer {
        align-items: center;
        display: flex;
        margin: 0 auto;
        padding: 8% 0 0 0;
        width: 90%; }
        body .intro .introWrapper .carouselContainer .leftArrow, body .intro .introWrapper .carouselContainer .rightArrow {
          display: inline-block;
          padding: 2.2% 0; }
          body .intro .introWrapper .carouselContainer .leftArrow img:hover, body .intro .introWrapper .carouselContainer .rightArrow img:hover {
            cursor: pointer; }
        body .intro .introWrapper .carouselContainer .carouselItems {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          width: 70%; }
          body .intro .introWrapper .carouselContainer .carouselItems ul {
            align-items: center;
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: 0;
            width: 100%; }
            body .intro .introWrapper .carouselContainer .carouselItems ul li {
              width: 8vw; }
              body .intro .introWrapper .carouselContainer .carouselItems ul li:nth-child(2) {
                width: 10vw; }
                body .intro .introWrapper .carouselContainer .carouselItems ul li:nth-child(2) svg .a, body .intro .introWrapper .carouselContainer .carouselItems ul li:nth-child(2) svg .c {
                  fill: #2e393d; }
              body .intro .introWrapper .carouselContainer .carouselItems ul li:hover {
                cursor: pointer; }
              body .intro .introWrapper .carouselContainer .carouselItems ul li svg {
                width: 100%; }
      body .intro .introWrapper .btnGroup {
        margin: 0 auto;
        max-width: 78%;
        padding: 9% 0 0 0;
        text-align: center;
        width: 100%; }
        body .intro .introWrapper .btnGroup button {
          background: none;
          border: 3px solid #fff;
          border-radius: 50px;
          color: white;
          font-size: 2.5vw;
          margin: 0 1vw;
          padding: 1vw 4vw;
          text-transform: uppercase;
          transition: .2s ease-in-out; }
          body .intro .introWrapper .btnGroup button:hover {
            background: #4E98E0;
            cursor: pointer;
            transition: .2s ease-in-out; }
  body .services {
    background: #2E393D;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 9vw 0;
    text-align: center; }
    body .services .servicesContainer .containerHeader {
      font-size: 4.5vw;
      font-weight: 700;
      padding: 0 0 9vw 0;
      text-transform: uppercase; }
    body .services .servicesContainer .containerItems .itemOne, body .services .servicesContainer .containerItems .itemTwo, body .services .servicesContainer .containerItems .itemThree {
      display: inline-block;
      padding: 0 2vw;
      width: 26.7vw; }
      body .services .servicesContainer .containerItems .itemOne .itemHeader img, body .services .servicesContainer .containerItems .itemTwo .itemHeader img, body .services .servicesContainer .containerItems .itemThree .itemHeader img {
        height: 10vw; }
      body .services .servicesContainer .containerItems .itemOne .itemHeader h3, body .services .servicesContainer .containerItems .itemTwo .itemHeader h3, body .services .servicesContainer .containerItems .itemThree .itemHeader h3 {
        color: #6CB6FF;
        font-size: 3vw;
        margin: 4vw 0 1vw 0;
        text-transform: uppercase; }
      body .services .servicesContainer .containerItems .itemOne .itemBody, body .services .servicesContainer .containerItems .itemTwo .itemBody, body .services .servicesContainer .containerItems .itemThree .itemBody {
        font-size: 2vw;
        text-align: left; }
  body .products {
    align-items: center;
    display: flex;
    height: 59vw;
    overflow: hidden;
    position: relative;
    width: 100vw; }
    body .products .shaped {
      background: #178CC2;
      clip-path: polygon(0 0, 100% 0, 0 100%, 0 0);
      height: 18vw;
      left: 0;
      position: absolute;
      shape-outside: polygon(0 0, 100% 0, 0 34%, 0 34%);
      top: 0;
      width: 27vw; }
    body .products .img img {
      height: 62vw;
      left: 43.5%;
      position: absolute;
      top: 0;
      width: 92%; }
    body .products .productsTextBody {
      margin: 0 0 0 12vw;
      position: relative;
      width: 46vw; }
      body .products .productsTextBody h2 {
        color: #2E393D;
        font-size: 4vw;
        text-transform: uppercase; }
      body .products .productsTextBody h3 {
        color: #6CB6FF;
        font-size: 3vw;
        text-transform: uppercase; }
      body .products .productsTextBody .body {
        font-size: 2vw; }
  body .subscribe {
    background: #C5DEE0;
    display: flex;
    height: 41vw;
    justify-content: center;
    position: relative;
    text-align: center; }
    body .subscribe .container {
      width: 67vw; }
      body .subscribe .container .subscribeHeading {
        color: #2E393D;
        font-size: 4.5vw;
        font-weight: 700;
        padding: 8% 0 0 0;
        text-transform: uppercase; }
      body .subscribe .container article {
        color: #2E393D;
        font-size: 2vw;
        line-height: 3vw;
        margin: 0 auto;
        padding: 3% 0; }
      body .subscribe .container form {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        position: relative;
        width: 68vw; }
        body .subscribe .container form input {
          border: none;
          border-radius: 50px;
          flex-grow: 2;
          font-size: 2vw;
          padding: 2.5% 0 2.5% 6%; }
        body .subscribe .container form button {
          background: #4E98E0;
          border: 1px solid #4E98E0;
          border-radius: 50px;
          color: white;
          font-size: 2vw;
          left: 40.8vw;
          letter-spacing: 1px;
          padding: 1.4vw 0vw;
          position: absolute;
          text-transform: uppercase;
          top: .2vw;
          transition: .3s ease-in-out;
          width: 27vw; }
          body .subscribe .container form button:hover {
            color: #4E98E0;
            cursor: pointer;
            background: #2E393D;
            transition: .3s ease-in-out; }
    body .subscribe .shaped {
      background: #178CC2;
      bottom: 0;
      clip-path: polygon(0 99%, 100% 0, 100% 100%, 0 99%);
      float: right;
      height: 14vw;
      margin: -14.9% 0 0 0;
      position: absolute;
      right: 0;
      shape-outside: polygon(0 99%, 100% 0, 100% 100%, 0 99%);
      width: 22vw; }
  body .contact {
    background: #F0F0F0;
    padding: 8% 0; }
    body .contact .contactContainer {
      display: flex; }
      body .contact .contactContainer .inTouchBox {
        margin: 0 0 0 8vw;
        width: 46vw; }
        body .contact .contactContainer .inTouchBox .inTouchHeading h2 {
          color: #2E393D;
          font-size: 4.5vw;
          font-weight: 700;
          text-transform: uppercase; }
        body .contact .contactContainer .inTouchBox .inTouchHeading h3 {
          color: #6CB6FF;
          font-size: 3vw;
          text-transform: uppercase; }
        body .contact .contactContainer .inTouchBox article {
          font-size: 2vw;
          margin: -1vw 0 0 0; }
          body .contact .contactContainer .inTouchBox article p {
            width: 44vw; }
      body .contact .contactContainer .contactForm {
        margin: 0 0 0 4vw;
        width: 36vw; }
        body .contact .contactContainer .contactForm h3 {
          color: #6CB6FF;
          font-size: 3vw;
          padding: 9.5vw 0 0 0;
          text-transform: uppercase; }
        body .contact .contactContainer .contactForm form {
          font-size: 2vw;
          margin: -2vw 0; }
          body .contact .contactContainer .contactForm form div .label {
            display: block;
            padding: 1% 0; }
          body .contact .contactContainer .contactForm form div input {
            border: 1px solid #D9D9D9;
            font-size: 2vw;
            padding: 2%;
            width: 30vw; }
          body .contact .contactContainer .contactForm form div textarea {
            border: 1px solid #D9D9D9;
            font-size: 2vw;
            height: 13.5vw;
            padding: 2%;
            resize: none;
            width: 30vw; }
          body .contact .contactContainer .contactForm form .btn {
            margin: 0 auto;
            padding: 2vw 0 0 0;
            width: 20vw; }
            body .contact .contactContainer .contactForm form .btn button {
              background: #4E98E0;
              border: 1px solid #4E98E0;
              border-radius: 50px;
              color: white;
              font-size: 2vw;
              letter-spacing: 1px;
              padding: 1vw 4vw;
              text-transform: uppercase;
              transition: .3s ease-in-out; }
              body .contact .contactContainer .contactForm form .btn button:hover {
                color: #4E98E0;
                cursor: pointer;
                background: #2E393D;
                transition: .3s ease-in-out; }
  body footer {
    align-items: flex-start;
    background: #2E393D;
    color: #C5DEE0;
    display: flex;
    font-size: 1vw;
    justify-content: center;
    padding: 3% 0;
    position: relative; }
    body footer .footerContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%; }
      body footer .footerContainer .leftBox {
        display: flex; }
        body footer .footerContainer .leftBox .left {
          margin-right: 1vw; }
        body footer .footerContainer .leftBox .left, body footer .footerContainer .leftBox .right {
          display: inline-block;
          width: 22vw; }
      body footer .footerContainer .rightBox {
        display: flex;
        width: 33vw; }
        body footer .footerContainer .rightBox .left {
          margin-left: 0; }
        body footer .footerContainer .rightBox .right {
          margin-left: 8vw;
          width: 14vw; }
        body footer .footerContainer .rightBox .left, body footer .footerContainer .rightBox .right {
          display: inline-block; }
          body footer .footerContainer .rightBox .left ul, body footer .footerContainer .rightBox .right ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0; }
            body footer .footerContainer .rightBox .left ul li, body footer .footerContainer .rightBox .right ul li {
              font-size: 2vw;
              padding: .5vw 0;
              text-transform: uppercase; }
              body footer .footerContainer .rightBox .left ul li:nth-child(1), body footer .footerContainer .rightBox .right ul li:nth-child(1) {
                padding-top: 0; }
              body footer .footerContainer .rightBox .left ul li a, body footer .footerContainer .rightBox .right ul li a {
                color: inherit;
                text-decoration: none;
                transition: .2s ease-in-out; }
                body footer .footerContainer .rightBox .left ul li a:hover, body footer .footerContainer .rightBox .right ul li a:hover {
                  color: #6CB6FF;
                  transition: .2s ease-in-out; }
      body footer .footerContainer .bottom {
        bottom: 0;
        left: 45vw;
        position: absolute; }

@media screen and (min-width: 769px) {
  body header {
    font-size: 1.5vw;
    height: 7vw; }
    body header .headerWrapper {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      body header .headerWrapper .logoContainer {
        width: 16vw; }
      body header .headerWrapper menu {
        display: inline-block;
        margin: 2vw 0 0 0; }
      body header .headerWrapper .smallMenu {
        display: none; }
  body .intro {
    padding: 4vw 0 8vw 0; }
    body .intro .introWrapper .introHeader .heading {
      font-size: 4.5vw; }
    body .intro .introWrapper .introHeader .subheading {
      font-size: 2.5vw;
      padding-top: 2%; }
    body .intro .introWrapper .carouselContainer .carouselItems ul li {
      width: 5vw; }
      body .intro .introWrapper .carouselContainer .carouselItems ul li:nth-child(2) {
        width: 7vw; }
    body .intro .introWrapper .btnGroup {
      padding: 9vw 0 0 0; }
      body .intro .introWrapper .btnGroup button {
        border: 2px solid #fff;
        font-size: 1.5vw;
        margin: 0 2vw;
        padding: .5vw 0;
        width: 16vw; }
  body .services {
    padding: 7vw 0; }
    body .services .servicesContainer .containerHeader {
      font-size: 3vw;
      padding: 0 0 8vw 0; }
    body .services .servicesContainer .containerItems .itemOne, body .services .servicesContainer .containerItems .itemTwo, body .services .servicesContainer .containerItems .itemThree {
      width: 20vw; }
      body .services .servicesContainer .containerItems .itemOne .itemHeader img, body .services .servicesContainer .containerItems .itemTwo .itemHeader img, body .services .servicesContainer .containerItems .itemThree .itemHeader img {
        height: 6vw; }
      body .services .servicesContainer .containerItems .itemOne .itemHeader h3, body .services .servicesContainer .containerItems .itemTwo .itemHeader h3, body .services .servicesContainer .containerItems .itemThree .itemHeader h3 {
        font-size: 2.5vw; }
      body .services .servicesContainer .containerItems .itemOne .itemBody, body .services .servicesContainer .containerItems .itemTwo .itemBody, body .services .servicesContainer .containerItems .itemThree .itemBody {
        font-size: 1.5vw; }
  body .products {
    height: 57vw; }
    body .products .shaped {
      height: 11vw;
      width: 20vw; }
    body .products .img img {
      height: 64vw;
      left: 40.5%;
      top: -2vw;
      width: 94%; }
    body .products .productsTextBody {
      margin: -9vw 0 0 17vw;
      width: 34vw; }
      body .products .productsTextBody h2 {
        font-size: 3vw; }
      body .products .productsTextBody h3 {
        font-size: 2vw; }
      body .products .productsTextBody .body {
        font-size: 1.5vw; }
  body .subscribe {
    height: 33vw; }
    body .subscribe .container {
      width: 51vw; }
      body .subscribe .container .subscribeHeading {
        font-size: 3vw; }
      body .subscribe .container article {
        font-size: 1.5vw;
        line-height: 2.5vw;
        padding: 4vw 0; }
      body .subscribe .container form {
        width: 51vw; }
        body .subscribe .container form input {
          padding: .5% 0 .5% 6%; }
        body .subscribe .container form button {
          font-size: 1.5vw;
          left: 31.8vw;
          padding: 0.3vw 0vw;
          width: 19vw; }
    body .subscribe .shaped {
      height: 10vw;
      width: 21vw; }
  body .contact .contactContainer .inTouchBox {
    margin: 0 0 0 16vw;
    width: 33vw; }
    body .contact .contactContainer .inTouchBox .inTouchHeading h2 {
      font-size: 3.5vw; }
    body .contact .contactContainer .inTouchBox .inTouchHeading h3 {
      font-size: 2.5vw; }
    body .contact .contactContainer .inTouchBox article {
      font-size: 1.5vw; }
      body .contact .contactContainer .inTouchBox article p {
        width: unset; }
  body .contact .contactContainer .contactForm {
    margin: unset;
    padding: 0 0 0 6vw; }
    body .contact .contactContainer .contactForm h3 {
      font-size: 2.5vw;
      padding: 7.5vw 0 0 0; }
    body .contact .contactContainer .contactForm form {
      font-size: 1.5vw;
      width: 31vw; }
      body .contact .contactContainer .contactForm form div input {
        font-size: 1.5vw;
        padding: 1.5%; }
      body .contact .contactContainer .contactForm form div textarea {
        font-size: 1.5vw;
        height: 10.5vw;
        width: 29.7vw; }
      body .contact .contactContainer .contactForm form .btn {
        width: 12vw; }
        body .contact .contactContainer .contactForm form .btn button {
          font-size: 1.5vw;
          padding: .5vw 3vw; }
  body footer {
    padding: 1% 0; }
    body footer .footerContainer .rightBox .left ul li, body footer .footerContainer .rightBox .right ul li {
      font-size: 1.5vw; } }

/*# sourceMappingURL=main.css.map */
