body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;
  header{
    background: #2E393D;
    color: #fff;
    display: flex;
    font-size: 2vw;
    font-weight: 300;
    height: 9vw;
    text-transform: uppercase;
    .headerWrapper{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
       .logoContainer{
         display: inline-flex;
         width: 23vw;
       }
       menu{
         align-items: center;
         display: flex;
         justify-content: center;
         margin: 3vw 0 0 0;
         padding: 0;
         width: 49vw;
         ul{
           display: flex;
           justify-content: space-evenly;
           list-style: none;
           padding: 0;
           width: 100%;
           li{
              a{
                color: #fff;
                text-decoration: none;
                transition: .2s ease-in-out;
                &:hover{
                  color: #4E98E0;
                  transition: .2s ease-in-out;
                }
              }
           }
         }
       }

    }
    // .headerWrapper{
    //   align-items: center;
    //   display: flex;
    //   justify-content: space-between;
    //   margin: 0 auto;
    //   min-width: 54%;
    //   max-width: 80%;
    //   position: relative;
    //   width: 100%;
    //   .logoContainer{
    //     cursor: context-menu;
    //     display: inline-block;
    //     padding: 4px 0 0 0;
    //     width: 28.57%;
    //     img{
    //       width: 100%;
    //     }
    //   }
    //   menu{
    //     font-size: 2vw;
    //     margin: 4.5vw 0 2% 0;
    //     ul{
    //       list-style: none;
    //       padding: 0;
    //       li{
    //         display: inline-block;
    //         padding: 0 10px;
    //         text-transform: uppercase;
    //         &:nth-child(4){
    //           padding-right: 0;
    //         }
    //         a{
    //           color: white;
    //           text-decoration: none;
    //           transition: .2s ease-in-out;
    //           &:hover{
    //             color: #6CB6FF;
    //             transition: .2s ease-in-out;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

  }
  .intro{
    align-items: center;
    background: url('./images/introImgTwo.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    display: flex;
    padding: 13vw 0;
    width: 100%;
    .introWrapper{
      width: 100%;
      .introHeader{
        margin: 0 auto;
        text-align: center;
        width: 75%;
        .heading{
          font-size: 5.5vw;
          font-weight: bolder;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        .subheading{
          font-size: 3vw;
          letter-spacing: 1px;
          padding-top: 1%;
          text-align: center;
        }
      }
      .carouselContainer{
        align-items: center;
        display: flex;
        margin: 0 auto;
        padding: 8% 0 0 0;
        width: 90%;
        .leftArrow, .rightArrow{
          display: inline-block;
          padding: 2.2% 0;
          img{
            &:hover{
              cursor: pointer;
            }
          }
        }
        .carouselItems{
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          width: 70%;
          ul{
            align-items: center;
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: 0;
            width: 100%;
            li{
              width: 8vw;
              &:nth-child(2){
                width: 10vw;
                svg{
                  .a,.c{
                    fill: #2e393d;
                  }
                }
              }
              &:hover{
                cursor: pointer;
              }
              svg{
                width: 100%;
              }
            }
          }
        }
      }
      .btnGroup{
        margin: 0 auto;
        max-width: 78%;
        padding:9% 0 0 0;
        text-align: center;
        width: 100%;
        button{
          background: none;
          border: 3px solid #fff;
          border-radius: 50px;
          color: white;
          font-size: 2.5vw;
          margin: 0 1vw;
          padding: 1vw 4vw;
          text-transform: uppercase;
          transition: .2s ease-in-out;
          &:hover{
            background: #4E98E0;
            cursor: pointer;
            transition: .2s ease-in-out;
          }
        }
      }
    }
  }
  .services{
    background: #2E393D;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 9vw 0;
    text-align: center;
    .servicesContainer{
      .containerHeader{
        font-size: 4.5vw;
        font-weight: 700;
        padding: 0 0 9vw 0;
        text-transform: uppercase;
      }
      .containerItems{
        .itemOne, .itemTwo, .itemThree{
          display: inline-block;
          padding: 0 2vw;
          width: 26.7vw;
          .itemHeader{
            img{
              height: 10vw;
            }
            h3{
              color: #6CB6FF;
              font-size: 3vw;
              margin: 4vw 0 1vw 0;
              text-transform: uppercase;
            }
          }
          .itemBody{
            font-size: 2vw;
            text-align: left;
          }
        }
      }
    }
  }
  .products{
    // background: url('./images/product_images.png') no-repeat;
    // background-position: calc(100% + 539px) calc(100% + 5px);
    // background-size: 100% 100%;
    align-items: center;
    display: flex;
    height: 59vw;
    overflow: hidden;
    position: relative;
    width: 100vw;
    .shaped{
      background: #178CC2;
      clip-path: polygon(0 0, 100% 0, 0 100%, 0 0);
      height: 18vw;
      left: 0;
      position: absolute;
      shape-outside: polygon(0 0, 100% 0, 0 34%, 0 34%);
      top: 0;
      width: 27vw;
    }
    .img{
      img{
        height: 62vw;
        left: 43.5%;
        position: absolute;
        top: 0;
        width: 92%;
      }
    }
    .productsTextBody{
      margin: 0 0 0 12vw;
      position: relative;
      width: 46vw;
      h2{
        color: #2E393D;
        font-size: 4vw;
        text-transform: uppercase;
      }
      h3{
        color: #6CB6FF;
        font-size: 3vw;
        text-transform: uppercase;
      }
      .body{
        font-size: 2vw;
      }
    }
  }
  .subscribe{
    background: #C5DEE0;
    display: flex;
    height: 41vw;
    justify-content: center;
    position: relative;
    text-align: center;
    .container{
      width: 67vw;
      .subscribeHeading{
        color: #2E393D;
        font-size: 4.5vw;
        font-weight: 700;
        padding: 8% 0 0 0;
        text-transform: uppercase;
      }
      article{
        color: #2E393D;
        font-size: 2vw;
        line-height: 3vw;
        margin: 0 auto;
        padding: 3% 0;
      }
      form{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        position: relative;
        width: 68vw;
        input{
          border: none;
          border-radius: 50px;
          flex-grow: 2;
          font-size: 2vw;
          padding: 2.5% 0 2.5% 6%;
        }
        button{
          background: #4E98E0;
          border: 1px solid #4E98E0;
          border-radius: 50px;
          color: white;
          font-size: 2vw;
          left: 40.8vw;
          letter-spacing: 1px;
          padding: 1.4vw 0vw;
          position: absolute;
          text-transform: uppercase;
          top: .2vw;
          transition: .3s ease-in-out;
          width: 27vw;
          &:hover{
            color: #4E98E0;
            cursor: pointer;
            background: #2E393D;
            transition: .3s ease-in-out;
          }
        }
      }
    }
    .shaped{
      background: #178CC2;
      bottom: 0;
      clip-path: polygon(0 99%, 100% 0, 100% 100%, 0 99%);
      float: right;
      height: 14vw;
      margin: -14.9% 0 0 0;
      position: absolute;
      right: 0;
      shape-outside: polygon(0 99%, 100% 0, 100% 100%, 0 99%);
      width: 22vw;
    }
  }
  .contact{
    background: #F0F0F0;
    padding: 8% 0;
    .contactContainer{
      display: flex;
      .inTouchBox{
        margin: 0 0 0 8vw;
        width: 46vw;
        .inTouchHeading{
          h2{
          color: #2E393D;
          font-size: 4.5vw;
          font-weight: 700;
          text-transform: uppercase;
          }
          h3{
            color: #6CB6FF;
            font-size: 3vw;
            text-transform: uppercase;
          }
        }
        article{
          font-size: 2vw;
          margin: -1vw 0 0 0;
          p{
            width: 44vw;
          }
        }
      }
      .contactForm{
        margin: 0 0 0 4vw;
        width: 36vw;
        h3{
          color: #6CB6FF;
          font-size: 3vw;
          padding: 9.5vw 0 0 0;
          text-transform: uppercase;
        }
        form{
          font-size: 2vw;
          margin: -2vw 0;
          div{
            .label{
              display: block;
              padding: 1% 0;
            }
            input{
              border: 1px solid #D9D9D9;
              font-size: 2vw;
              padding: 2%;
              width: 30vw;
            }
            textarea{
              border: 1px solid #D9D9D9;
              font-size: 2vw;
              height: 13.5vw;
              padding: 2%;
              resize: none;
              width: 30vw;
            }
          }
          .btn{
            margin: 0 auto;
            padding: 2vw 0 0 0;
            width: 20vw;
            button{
              background: #4E98E0;
              border: 1px solid #4E98E0;
              border-radius: 50px;
              color: white;
              font-size: 2vw;
              letter-spacing: 1px;
              padding: 1vw 4vw;
              text-transform: uppercase;
              transition: .3s ease-in-out;
              &:hover{
                color: #4E98E0;
                cursor: pointer;
                background: #2E393D;
                transition: .3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
  footer{
    align-items: flex-start;
    background: #2E393D;
    color: #C5DEE0;
    display: flex;
    font-size: 1vw;
    justify-content: center;
    padding: 3% 0;
    position: relative;
    .footerContainer{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .leftBox{
        display: flex;
        .left{
          margin-right: 1vw;
        }
        .left, .right{
          display: inline-block;
          width: 22vw;
        }
      }
      .rightBox{
        display: flex;
        width: 33vw;
        .left{
          margin-left: 0;
        }
        .right{
          margin-left: 8vw;
          width: 14vw;
        }
        .left, .right{
          display: inline-block;
          ul{
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            li{
              font-size: 2vw;
              padding: .5vw 0;
              text-transform: uppercase;
              &:nth-child(1){
                padding-top: 0;
              }
              a{
                color: inherit;
                text-decoration: none;
                transition: .2s ease-in-out;
                &:hover{
                  color: #6CB6FF;
                  transition: .2s ease-in-out;
                }
              }
            }
          }
        }
      }
      .bottom{
        bottom: 0;
        left: 45vw;
        position: absolute;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
